@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  margin: 0px;
  overflow-y: scroll;
  font-family: 'Roboto';
  background-color: #181818;
}

/* Flexbox classes */
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Common classes */
.hover-pointer:hover {
  cursor: pointer;
}

/* Custom tooltip */
[data-title] {
  position: relative;
}

[data-title]:after {
  font-family: inherit;
  content: attr(data-title);
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 175%;
  left: 0;
  white-space: nowrap;
  z-index: 99999;
  visibility: hidden;
}

[data-title]:hover:after {
  background-color: rgba(89, 89, 89, 0.7);
  visibility: visible;
}

/* Navigation bar */
nav {
  background-color: rgba(33, 33, 33, 0.98);
  padding: 0px 16px;
}

nav .material-icons {
  color: white;
}

nav #nav-left div {
  margin: 0px 8px;
}

nav #nav-left a {
  margin: 18px 16px;
}

nav #nav-left a img {
  width: 90px;
}

nav #nav-mid form {
  margin: 0px 4px;
}

nav #nav-mid form input {
  border-width: 1px 1px 1px 1px;
  border-right-color: none;
  border-color: #303030;
  border-style: solid;
  border-radius: 2px 0px 0px 2px;
  font-family: inherit;
  background-color: #121212;
  width: 550px;
  padding: 3px 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.88);
}

nav #nav-mid form input:focus {
  outline: none;
  border-color: #065fd4;
  border-width: 1px;
}

nav #nav-mid form button {
  width: 65px;
  background-color: #303030;
  border-color: #303030;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px 2px 2px 0px;
  padding: 1px 6px;
  height: 32px;
}

nav #nav-mid form button .material-icons {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.6;
  font-size: 20px;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}

nav #nav-mid form button:hover .material-icons {
  opacity: 1;
}

nav #nav-mid div {
  margin: 0px 8px;
  height: 32px;
}

nav #nav-mid [data-title]:after {
  top: 175%;
}

nav #nav-right div:nth-child(-n+3) {
  margin: 8px 16px 8px 8px;
}

nav #nav-right div:nth-child(4) {
  margin: 1px 14px;
}

nav #nav-right div:nth-child(4) .material-icons {
  font-size: 32px;
}

/* Video, info, description and comments */
#left-col {
  margin: 24px;
}

#left-col #info {
  padding: 20px 0px 0px 0px;
  border-bottom: 1px solid #303030;
}

#left-col #info #title {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

#left-col #info #stats {
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
}

#left-col #info #stats #stats-right {
  font-weight: 500;
}

#left-col #info #stats #stats-right #sentiment {
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(90deg, #3ea6ff 0%, #3ea6ff 98%, #606060 98%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#3ea6ff), color-stop(98%, #3ea6ff), color-stop(98%, #606060)) 1;
     border-image: linear-gradient(90deg, #3ea6ff 0%, #3ea6ff 98%, #606060 98%) 1;
}

#left-col #info #stats #stats-right #sentiment div {
  margin-right: 14px;
  padding-bottom: 8px;
}

#left-col #info #stats #stats-right #sentiment div:nth-child(1) {
  color: #3ea6ff;
}

#left-col #info #stats #stats-right div:nth-child(n+2):nth-child(-n+3) {
  margin-right: 14px;
}

#left-col #info #stats #stats-right div:nth-child(n+2):nth-child(-n+4) {
  padding-bottom: 8px;
}

#left-col #info #stats #stats-right div:nth-child(4):hover {
  color: white;
}

#left-col #info #stats #stats-right div span {
  margin: 6px;
}

#left-col #info #stats #stats-right [data-title]:after {
  top: 130%;
}

#left-col #info #stats #stats-right #sentiment[data-title="2,020 / 40"]:after {
  top: -100%;
  left: 20%;
}
/*# sourceMappingURL=style.css.map */