@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    overflow: scroll;
    font-family: 'Roboto';
}

/* Flexbox classes */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Common classes */

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

/* Custom tooltip */

[data-title] {
    position: relative;

    &:after {
        font-family: inherit;
        content: attr(data-title);
        background-color: #595959;
        border: none;
        border-radius: 2px;
        padding: 10px 10px;
        font-size: 12px;
        color: white;
        position: absolute;
        top: 175%;
        left: 0;
        white-space: nowrap;
        z-index: 99999;
        visibility: hidden;
    }

    &:hover:after {
        opacity: 0.7;
        visibility: visible;
    }
}

/* Navigation bar */

nav {
    background-color: rgba(33, 33, 33, 0.98);
    padding: 0px 16px;

    .material-icons {
        color: white;
    }

    #nav-left {
        div {
            margin: 0px 8px;
        }
        a { 
            margin: 18px 16px; 
            img {
                width: 90px;
            }
        }
    }

    #nav-mid {

        form {
            margin: 0px 4px;

            input {
                border-width: 1px 1px 1px 1px;
                border-right-color: none;
                border-color: hsl(0, 0%, 18.82%);
                border-style: solid;
                border-radius: 2px 0px 0px 2px;
                font-family: inherit;
                background-color: hsl(0, 0%, 7%);
                width: 550px;
                padding: 3px 12px;
                font-size: 16px;
                line-height: 24px;
                color: hsla(0, 100%, 100%, 0.88);
                &:focus {
                    outline: none;
                    border-color:#065fd4;
                    border-width: 1px;
                }
            }

            button {
                width: 65px;
                background-color: hsl(0, 0%, 18.82%);
                border-color: hsl(0, 0%, 18.82%);
                border-width: 1px;
                border-style: solid;
                border-radius: 0px 2px 2px 0px;
                padding: 1px 6px;
                height: 32px;
                .material-icons {
                    color: hsla(0, 100%, 100%, 0.5);
                    opacity: 0.6;
                    font-size: 20px;
                    transform: rotate(0.03deg); //hack to prevent icon from looking pixelated at 20px
                }
                &:hover {
                    .material-icons {
                        opacity: 1;
                    }
                }
            }
        }

        div {
            margin: 0px 8px;
            height: 32px;
        }

        [data-title] {
            &:after {
                top: 175%;
            }
        }
    }

    #nav-right {
        div {
            &:nth-child(-n+3) {
                margin: 8px 16px 8px 8px;
            }
            &:nth-child(4) {
                margin: 1px 14px;
                .material-icons {
                    font-size: 32px;
                }
            }
        }
    }
}