@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0px;
  overflow-y: scroll;
  font-family: 'Roboto';
  color: white;
  background-color: #181818;
}

/* Flexbox classes */
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Common classes */
.hover-pointer:hover {
  cursor: pointer;
}

/* Custom tooltip */
[data-title] {
  position: relative;
}

[data-title]:after {
  font-family: inherit;
  content: attr(data-title);
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 175%;
  left: 0;
  white-space: nowrap;
  z-index: 99999;
  visibility: hidden;
}

[data-title]:hover:after {
  background-color: rgba(89, 89, 89, 0.7);
  visibility: visible;
}

/* Navigation bar */
nav {
  background-color: rgba(33, 33, 33, 0.98);
  padding: 0px 16px;
}

nav .material-icons {
  color: white;
}

nav #nav-left div {
  margin: 0px 8px;
}

nav #nav-left a {
  margin: 18px 16px;
}

nav #nav-left a img {
  width: 90px;
}

nav #nav-mid form {
  margin: 0px 4px;
}

nav #nav-mid form input {
  border-width: 1px 1px 1px 1px;
  border-right-color: none;
  border-color: #303030;
  border-style: solid;
  border-radius: 2px 0px 0px 2px;
  font-family: inherit;
  background-color: #121212;
  width: 550px;
  padding: 3px 12px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.88);
}

nav #nav-mid form input:focus {
  outline: none;
  border-color: #065fd4;
  border-width: 1px;
}

nav #nav-mid form button {
  width: 65px;
  background-color: #303030;
  border-color: #303030;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px 2px 2px 0px;
  padding: 1px 6px;
  height: 32px;
}

nav #nav-mid form button .material-icons {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.6;
  font-size: 20px;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
}

nav #nav-mid form button:hover .material-icons {
  opacity: 1;
}

nav #nav-mid div {
  margin: 0px 8px;
  height: 32px;
}

nav #nav-mid [data-title]:after {
  top: 175%;
}

nav #nav-right div:nth-child(-n+3) {
  margin: 8px 16px 8px 8px;
}

nav #nav-right div:nth-child(4) {
  margin: 1px 14px;
}

nav #nav-right div:nth-child(4) .material-icons {
  font-size: 32px;
}

/* Video, info, description and comments */
#left-col {
  margin: 24px;
}

#left-col #info {
  padding: 20px 0px 0px 0px;
  border-bottom: 1px solid #303030;
}

#left-col #info #title {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

#left-col #info #stats {
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
}

#left-col #info #stats #stats-right {
  font-weight: 500;
}

#left-col #info #stats #stats-right #sentiment {
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(90deg, #3ea6ff 0%, #3ea6ff 98%, #606060 98%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#3ea6ff), color-stop(98%, #3ea6ff), color-stop(98%, #606060)) 1;
     border-image: linear-gradient(90deg, #3ea6ff 0%, #3ea6ff 98%, #606060 98%) 1;
}

#left-col #info #stats #stats-right #sentiment div {
  margin-right: 14px;
  padding-bottom: 8px;
}

#left-col #info #stats #stats-right #sentiment div:nth-child(1) {
  color: #3ea6ff;
}

#left-col #info #stats #stats-right div:nth-child(n+2):nth-child(-n+3) {
  margin-right: 14px;
}

#left-col #info #stats #stats-right div:nth-child(n+2):nth-child(-n+4) {
  padding-bottom: 8px;
}

#left-col #info #stats #stats-right div:nth-child(4):hover {
  color: white;
}

#left-col #info #stats #stats-right div span {
  margin: 6px;
}

#left-col #info #stats #stats-right [data-title]:after {
  top: 130%;
}

#left-col #info #stats #stats-right #sentiment[data-title="2,020 / 40"]:after {
  top: -100%;
  left: 20%;
}

#left-col #description {
  padding-bottom: 16px;
  border-bottom: 1px solid #303030;
}

#left-col #description #channel {
  margin-top: 16px;
  margin-bottom: 12px;
}

#left-col #description #channel #channel-info {
  line-height: 16px;
}

#left-col #description #channel #channel-info [data-title]:after {
  top: -250%;
  font-weight: 500;
}

#left-col #description #channel #channel-info #channel-thumbnail {
  margin-right: 16px;
}

#left-col #description #channel #channel-info #channel-thumbnail img {
  border-radius: 30px;
}

#left-col #description #channel #channel-info #channel-name a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: white;
}

#left-col #description #channel #channel-info #channel-icon span {
  font-size: 12px;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg);
  color: #aaaaaa;
}

#left-col #description #channel #channel-info #subscriber-count {
  font-size: 12px;
  color: #aaaaaa;
  letter-spacing: 0.3px;
  line-height: 18px;
}

#left-col #description #channel #channel-subscribe button {
  padding: 10px 16px;
  background-color: #cc0000;
  color: white;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.5px;
  font-size: 14px;
  border-style: solid;
  border-color: #cc0000;
  border-radius: 2px;
  margin: 0px 4px;
  border-width: 0px;
}

#left-col #description #video-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-left: 64px;
}

#left-col #description #video-description a {
  color: #3ea6ff;
  text-decoration: none;
}

#left-col #description #video-description #show-more {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.007px;
  color: #aaaaaa;
  font-weight: 500;
}

#left-col #comments #comments-main {
  margin: 24px 0px;
}

#left-col #comments #comments-main #comments-count {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 22px;
  margin-right: 32px;
}

#left-col #comments #comments-main #sort-options {
  color: #aaaaaa;
}

#left-col #comments #comments-main #sort-options span:nth-child(1) {
  margin-right: 8px;
}

#left-col #comments #comments-main #sort-options span:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 22px;
  vertical-align: top;
}

#left-col #comments #comments-input {
  margin-bottom: 32px;
}

#left-col #comments #comments-input div:nth-child(1) {
  margin-right: 16px;
}

#left-col #comments #comments-input div:nth-child(1) img {
  border-radius: 30px;
  width: 40px;
}

#left-col #comments #comments-input div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#left-col #comments #comments-input div:nth-child(2) input {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #303030;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-family: inherit;
  color: #aaaaaa;
  padding-bottom: 4px;
  width: 100%;
}

#left-col #comments #comments-input div:nth-child(2) input::-webkit-input-placeholder {
  color: #aaaaaa;
}

#left-col #comments #comments-input div:nth-child(2) input:-ms-input-placeholder {
  color: #aaaaaa;
}

#left-col #comments #comments-input div:nth-child(2) input::-ms-input-placeholder {
  color: #aaaaaa;
}

#left-col #comments #comments-input div:nth-child(2) input::placeholder {
  color: #aaaaaa;
}

#left-col #comments #comments-input div:nth-child(2) input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

#left-col #comments #comments-list .comment-item {
  margin-bottom: 16px;
}

#left-col #comments #comments-list .comment-item:hover .comment-options div {
  visibility: visible;
}

#left-col #comments #comments-list .comment-item .author-thumbnail {
  margin-right: 14px;
}

#left-col #comments #comments-list .comment-item .author-thumbnail img {
  border-radius: 30px;
  width: 40px;
}

#left-col #comments #comments-list .comment-item .comment-middle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-header {
  line-height: 18px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 2px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-header .author-name {
  margin-right: 4px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-header .author-name a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-header .comment-date {
  color: #aaaaaa;
  font-size: 12px;
  letter-spacing: 0.3px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-body {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats {
  color: #909090;
  margin: 8px 0px;
  font-size: 13px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats .material-icons {
  font-size: 16px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats div {
  margin-right: 8px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats div:nth-child(3) {
  margin-left: 8px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats div:nth-child(4) {
  margin-left: 16px;
  font-weight: 500;
  letter-spacing: 0.007px;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats div:nth-child(1):hover, #left-col #comments #comments-list .comment-item .comment-middle .comment-stats div:nth-child(3):hover {
  color: white;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-stats [data-title]:after {
  top: 260%;
}

#left-col #comments #comments-list .comment-item .comment-middle .comment-replies {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: #3ea6ff;
  margin-left: -7px;
}

#left-col #comments #comments-list .comment-item .comment-options div {
  color: #909090;
  visibility: hidden;
}

#left-col #comments #comments-list .comment-item .comment-options div:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */