@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0px;
    overflow-y: scroll;
    font-family: 'Roboto';
    color: white;
    background-color: #181818;
}

/* Flexbox classes */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Common classes */

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

/* Custom tooltip */

[data-title] {
    position: relative;

    &:after {
        font-family: inherit;
        content: attr(data-title);
        border: none;
        border-radius: 2px;
        padding: 10px 10px;
        font-size: 12px;
        color: white;
        position: absolute;
        top: 175%;
        left: 0;
        white-space: nowrap;
        z-index: 99999;
        visibility: hidden;
    }

    &:hover:after {
        background-color: rgba(89, 89, 89, 0.7);
        visibility: visible;
    }
}

/* Navigation bar */

nav {
    background-color: rgba(33, 33, 33, 0.98);
    padding: 0px 16px;

    .material-icons {
        color: white;
    }

    #nav-left {
        div {
            margin: 0px 8px;
        }
        a { 
            margin: 18px 16px; 
            img {
                width: 90px;
            }
        }
    }

    #nav-mid {

        form {
            margin: 0px 4px;

            input {
                border-width: 1px 1px 1px 1px;
                border-right-color: none;
                border-color: hsl(0, 0%, 18.82%);
                border-style: solid;
                border-radius: 2px 0px 0px 2px;
                font-family: inherit;
                background-color: hsl(0, 0%, 7%);
                width: 550px;
                padding: 3px 12px;
                font-size: 16px;
                line-height: 24px;
                color: hsla(0, 100%, 100%, 0.88);
                &:focus {
                    outline: none;
                    border-color:#065fd4;
                    border-width: 1px;
                }
            }

            button {
                width: 65px;
                background-color: hsl(0, 0%, 18.82%);
                border-color: hsl(0, 0%, 18.82%);
                border-width: 1px;
                border-style: solid;
                border-radius: 0px 2px 2px 0px;
                padding: 1px 6px;
                height: 32px;
                .material-icons {
                    color: hsla(0, 100%, 100%, 0.5);
                    opacity: 0.6;
                    font-size: 20px;
                    transform: rotate(0.03deg); //hack to prevent icon from looking pixelated at 20px
                }
                &:hover {
                    .material-icons {
                        opacity: 1;
                    }
                }
            }
        }

        div {
            margin: 0px 8px;
            height: 32px;
        }

        [data-title] {
            &:after {
                top: 175%;
            }
        }
    }

    #nav-right {
        div {
            &:nth-child(-n+3) {
                margin: 8px 16px 8px 8px;
            }
            &:nth-child(4) {
                margin: 1px 14px;
                .material-icons {
                    font-size: 32px;
                }
            }
        }
    }
}

/* Video, info, description and comments */

#left-col {
    margin: 24px;

    #info {
        padding: 20px 0px 0px 0px;
        border-bottom: 1px solid #303030;
    
        #title {
            font-size: 18px;
            line-height: 26px;
            color: #ffffff;
        }
    
        #stats {
            font-size: 14px;
            line-height: 20px;
            color: #aaa;

            #stats-right {
                font-weight: 500;

                #sentiment {                   

                    border-bottom: 2px solid transparent;
                    border-image: linear-gradient(90deg, rgba(62,166,255,1) 0%, rgba(62,166,255,1) 98%, rgba(96,96,96,1) 98%) 1;
                    div {
                        margin-right: 14px;
                        padding-bottom: 8px;
                        &:nth-child(1) {
                            color: #3ea6ff;
                        }
                        
                    }
                }

                div {
                    &:nth-child(n+2):nth-child(-n+3) {
                        margin-right: 14px;
                    }
                    &:nth-child(n+2):nth-child(-n+4) {
                        padding-bottom: 8px;
                    }
                    &:nth-child(4) {
                        &:hover {
                            color: white;
                        }
                    }
                    span {
                        margin: 6px;
                    }
                }

                [data-title] {
                    &:after {
                        top: 130%;
                    }
                }

                #sentiment[data-title="2,020 / 40"] {
                    &:after {
                        top: -100%;
                        left: 20%;
                    }
                }

            }
        }
    }

    #description {
        padding-bottom: 16px;
        border-bottom: 1px solid #303030;
        #channel {
            margin-top: 16px;
            margin-bottom: 12px;
            #channel-info {
                [data-title] {
                    &:after {
                        top: -250%;
                        font-weight: 500;
                    }
                }
                line-height: 16px;
                #channel-thumbnail {
                    margin-right: 16px;
                    img {
                        border-radius: 30px;
                    }
                }
                #channel-name a {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.25px;
                    text-decoration: none;
                    color: white;
                }
                #channel-icon span {
                    font-size: 12px;
                    transform: rotate(0.03deg); //hack to prevent icon from looking pixelated at 20px
                    color: rgb(170, 170, 170);
                }
                #subscriber-count {
                    font-size: 12px;
                    color: rgb(170, 170, 170);
                    letter-spacing: 0.3px;
                    line-height: 18px;
                }
            }
            #channel-subscribe button {
                padding: 10px 16px;
                background-color: rgb(204, 0, 0);
                color: white;
                font-weight: 500;
                font-family: inherit;
                letter-spacing: 0.5px;
                font-size: 14px;
                border-style: solid;
                border-color: rgb(204, 0, 0);
                border-radius: 2px;
                margin: 0px 4px;
                border-width: 0px;
            }
            
        }
        #video-description {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-left: 64px;
            a {
                color: rgb(62, 166, 255);
                text-decoration: none;
            }
            #show-more {
                display: block;
                margin-top: 8px;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: 0.007px;
                color: rgb(170, 170, 170);
                font-weight: 500;
            }
        }
    }
}